
<div >
  <mat-spinner *ngIf="(loading$|async)"  style="position: absolute; left: 45%; top: 39%;" color="accent"></mat-spinner>
</div>

<div class="main">

<div [ngClass]="{container:true , hide:(loading$|async)}">
  <h1 *ngIf="loggedIn$|async" style="text-align: center;">
    Welcome &nbsp; {{(user$|async)?.name}}
   </h1>



<h1 *ngIf="!(loggedIn$|async)" style="text-align: center;">
  <mat-form-field class="example-full-width">
  <input matInput  type="text" [(ngModel)]="id" placeholder="ID" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
  <input matInput type="text" [(ngModel)]="name" placeholder="NAME" />
  </mat-form-field>
 
  <button style="display: block; margin-left: auto ; margin-right: auto; " mat-raised-button color="primary" (click)="onLogin()">login</button>

 </h1>

</div>
</div>


